.container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 400px;
    height: 300px;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.form-icon {
    width: 25px;
    height: 25px;
    margin: 10px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.forgot-password{
    text-align: center;
    margin-bottom: 10px;
}

img{
    object-fit: contain;
}

input {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    outline: none;
}

label {
    font-size: 12px;
    opacity: 0.8;
}

